* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button{
cursor: pointer;
height: 40px;
min-width: 160px;
color: #000000;
border-radius: 25px;
}

#datetime-picker{
height: 40px;
text-align: center;
border: 1px solid #000;
border-radius: 25px;
}

.timer{
display: flex;
align-items: center;
justify-content: center;
column-gap: 20px;
font-size: 45px;
}

.timer .field{
  display: flex;
flex-direction: column-reverse;
align-items: center;
}

.form input{
height: 40px;
margin-right: 20px;
}